@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background-color: #FF6A6A;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.white-opacity {
  background-color: white;
  opacity: 0.8;
  padding-bottom: 25px;
}
