<%= react_component "Index", current_user: current_user %></div>

<div class="about-info">
<h2 class="results-header blue spacing">Welcome to Articulate!</h2>

<h4 class="results-header">Find Your Voice…</h4>
<h4> Our Purpose </h4>
<p>Public speaking is hard. We here at articulate strive to make sure that what you want to say, is what your audience will hear. Nervous about a speech, presentation, or perhaps an email to your boss? Run it by us. Using IBM Watson’s Language API and Tone Analyzer to analyze your ideas and give you easy to <br>understand feedback.
</div>
<div class="footer">
<h4>Speak Clearly,  Speak Confidently,  Articulate!</h4>

Contributors:<br>

Alexandra Cooper, Alexander Giacobbe, Patrick Kolodgy, Mark Tanca</div>

